.container-all{
  background-color: rgb(156,209,241);    
}
.iuu-bg-blur {
  /* Xóa display: flex và align-items: center để Tailwind xử lý */
  /* min-height: 100vh; */
  max-width: 430px; /*max này set cả cho giao diện web*/
  overflow: hidden;
  /* background-color: rgb(156,209,241);   */
}
@media (max-width: 430px){
  .iuu-bg-blur {
    max-width: 430px!important;
  }
}
@media (max-width: 414px){
  .iuu-bg-blur {
    max-width: 414px!important;
  }
}
@media (max-width: 393px){
  .iuu-bg-blur {
    max-width: 393px!important;
  }
}
.iuu-bg-blur::before {
  content: "";
  position: absolute;
  inset: 0;
  filter: blur(8px) brightness(0.7);
  z-index: 0;
  background: inherit; /* kế thừa background từ cha */
}
.iuu-bg-blur > * {
  position: relative;
  z-index: 1;
}
.txt-color{
  color: #2f77b2;
}
.heart-containter{
  height: 100vh;
}
